body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: "Manrope", sans-serif;
}

a {
	text-decoration: none !important;
	transition: 0.5s;
}

a:hover {
	color: #5538f4;
}

p {
	font-size: 17px;
	line-height: 30px;
	margin: 0;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1300px;
	display: block;
	margin: 0 auto;
}
.banner-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* Hero Banner */
.hero-banner-area {
	background-color: #fdd4e7;
}
